/* shared styles */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* main styles */

.oswald-font{
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
}

.fredoka-font{
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
}

.epilogue-font{
  font-family: "Epilogue", sans-serif;
  font-optical-sizing: auto;
}
.button{
    border: 3px solid #F3274C;
    border-radius: 12px;
    position: relative;
    width: 175px;
    height: 72px;
}
.btn{
    background-color: #F3274C;
    color: #ffffff;
    font-size: 18px;
    border: none;
    border-radius: 12px;
    padding: 18px 35px;
    position: absolute;
    top: 4px;
    left: -20px;
    cursor: pointer;
}

/* header */

nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0px;
    position: relative;
    box-shadow: 0 0 50px #8a8a8a;
}
.logo{
    width: 150px;
    height: 73px;
}
.nav-links{
    display: flex;
}
.nav-links li{
    list-style: none;
}
.nav-links li a{
    text-decoration: none;
    color: #212121;
    margin-right: 25px;
    font-size: 18px;
    font-weight: 500;
}
.nav-right{
    display: flex;
    gap: 25px;
    align-items: center;
}
.cart{
    position: relative;
    cursor: pointer;
}
.cart p{
    background-color: #212121;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    color: #ffffff;
    position: absolute;
    top: -12px;
    left: 15px;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
}
.btn-1{
    color: #ffffff;
    background-color: #FFC222;
    padding: 20px 50px;
    border-radius: 7px;
    border: none;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
}
.hamburger{
    width: 31px;
    height: 18px;
    cursor: pointer;
}
.hero{
    background: url(../assets/header/background.png);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 60px 280px;
    display: flex;
    justify-content: center;
    gap: 150px;
}
.intro .best{
    font-size: 60px;
    padding: 10px 30px;
    margin-top: 95px;
}
.intro .yellow{
    font-size: 60px;
    background-color: #FFC222;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 50px;
}
.intro p{
    color: #555555;
    font-size: 18px;
    font-weight: 500;
    margin: 14px 0px 36px 30px;
}
.hero-form{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 25px;
}
.grid1{
    grid-column-start: 1;
    grid-column-end: 3;
}
.hero-form input{
    margin-left: 30px;
    height: 60px;
    padding: 15px 33px;
    font-family: "Epilogue", sans-serif;
    font-optical-sizing: auto;
    color: #555555;
    font-size: 16px;
    font-weight: 600;
    border: 3px solid #E4E4E4;
    border-radius: 8px;
}
.hero-form input::placeholder{
    color: #555555;
    font-size: 16px;
    font-weight: 600;
    opacity: 0.8;
    font-family: "Epilogue", sans-serif;
    font-optical-sizing: auto;
}
.reserve{
    margin: 30px 0px 0px 48px;
}
.right-side{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    padding-top: 100px;
}
.delivery{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    gap: 8px;
    
    padding: 20px 30px;
    background-color: #ffffff;
    border-radius: 50px;
    box-shadow: 0px 0px 20px #8a8a8a;
}
.right-img{
    position: relative;
    width: 635px;
    height: 620px;
}
.item1{
    position: absolute;
    top: 0;
}
.item2{
    position: absolute;
    top: 160px;
    left: 335px;
}
.delivery p{
    font-size: 20px;
    font-weight: 600;
}